/*General CSS*/
.centerText {
    text-align: center
}

.centerLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallDivaceNonDisplay {
    display: inline;
}

.dualSubtitule {
    color:rgba(0, 0, 0, 0.705);
    font-size: 24px;
}

.dualSubtitule2 {
    color:rgba(255, 255, 255, 0.6);
    font-size: 24px;
}

/*Menu and Slider*/
.addTopMargin {
    margin-top: 45px;
}

.dualMenuStyle {
    font-size: 20px;
    color: rgb(255, 0, 0) !important;
    text-transform: uppercase;
    letter-spacing: 2.5px !important;
}

.dualMenu {
    color:rgba(255, 255, 255, 0.65);
    font-size: 16px;
    transition-duration:0.7s;
        -webkit-transition-duration:0.7s;
}
.dualMenu:hover {
    color:rgb(255, 255, 255);
}

.dualSlider {
    color:rgba(199, 199, 199, 0.8);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    /*font-style: italic;*/
}

.dualButton {
    color:rgba(0,0,0,0.7);
    font-weight: 700;
    font-size: 14px;
    margin-top: -6px;
}

/*Offers*/
.dualOffers {
    color:rgba(255, 255, 255, 0.6);
    font-size: 16px;
    letter-spacing: 0.7px;
    transition-duration:0.4s;
        -webkit-transition-duration:0.4s;
}
.dualOffers:hover {
    color:rgb(255, 255, 255);
    transform: scale(1.2);
}

/*Why We - About Us*/

.whyWeSection {
    margin: 2.5px 25px 2.5px 15px;
    color: #796d00c2; /*#ea5252*/
    font-size: 22px;
}

.rowDirection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: -10px;
}

.doubleWhyWe {
    font-size: 16px;
    margin-bottom: -10px;
}

/* Biography Section CSS */
.biography{
    margin-top: 25px;
}

.biography-descriptionPL{
    font-size: 18px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 38px;
}

.biography-descriptionEN{
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.6px;
    font-style: italic;
}

/*Offers Page*/
.doubleTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.doubleTitlePL{
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.doubleTitleEN {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
}

.doubleOffer {
    font-size: 16px;
    margin-bottom: -5px;
}



/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
}


/* Extra small Device. */
@media (max-width: 767px) {
    .smallDivaceNonDisplay {
        display: none;
    } 
}